header{
padding:0;
font-weight: bold;
box-sizing: border-box;
text-align: center
}
.jumbotron{
  padding: 0;
  margin: 0;
}
header h4{
  font-weight: bold;
  padding: 0;
}

.container-fluid{
margin-left: 40px;
}
.badge{
  border: solid;
color: orange;
}
.success{
  background-color: green;
}
.warning{
  background-color: yellow;
}
.danger{
  background-color: red:
}